<!doctype html>
<HTML>
<Head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8">
{% load staticfiles %}
<link type="text/css" href="{% static "base.css" %}" rel="stylesheet">
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<Title>{{ tytle }}</Title>
</Head>
<body>
{# Load the tag library #}
{# load bootstrap3 #}

{# Load CSS and JavaScript #}
{# bootstrap_css #}
{# bootstrap_javascript #}
{% include "userMain/navbar.html" %}
{# Display django.contrib.messages as Bootstrap alerts #}
{# bootstrap_messages #}

{# Display a form #}
{% block main %} {% endblock %}


{# Read the documentation for more information #}
</body>
</HTML>