{% extends "userMain/base.html" %}
{% block main %}
{# Read the documentation for more information #}
{% if pg %}
<div id="main">
    <table>
        <thead>
            <tr>
                <th >id</th>
                <th>TEXT</th>
                <th>ДАТА</th>
            </tr>
        </thead>
        <tbody>
    {% for r in pg %}
            <tr>
                <td>{{r.id}}</td>
                <td>{{r.fild_one}}</td>
                <td>{{r.pub_date}}</td>
            </tr>

    {% endfor %}
        </tbody>
    </table>
</div>
{% if pg.paginator.num_pages > 1 %}
<nav >
<div id="pag">
    {% if pg.has_previous %}
        <div id="prvious-page"><a href="{% url "userMain:index" %}?page={{ pg.previous_page_number }}" aria-label="Previous">&lt;</a></div>
    {% endif %}
    {% if pg.has_next %}
        <div id="next-page"><a href="{% url "userMain:index" %}?page={{ pg.next_page_number }}" aria-label="Next">&gt;</a></div>
    {% endif %}
    <div id="num-pages">
        {% for pn in pg.paginator.page_range %}
        {% if not forloop.first %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
        {%if pg.number != pn %}
        <a href="{% url "userMain:index" %}?page={{ pn }}">
        {% endif %}
            {{ pn }}
        {% if pg.number != pn %}
        </a>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</nav>

{% endif %}
{% else %}
    <p>Пусто тут!!! Hello from userMain apps index template.</p>
{% endif %}
{% endblock %}