{% load staticfiles %}
<linc type="text/css" href="{% static "base.css" %}" rel="stylesheet">

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

  {% csrf_token %}
  {# bootstrap_form form #}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>

{# Read the documentation for more information #}
{% if rows %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th id="mtable">id</th>
                <th>TEXT</th>
                <th>ДАТА</th>
            </tr>
        </thead>
        <tbody>
    {% for r in rows %}
            <tr>
                <td>{{r.id}}</td>
                <td>{{r.fild_one}}</td>
                <td>{{r.pub_date}}</td>
            </tr>

    {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Пусто тут!!! Hello from userMain apps index template.</p>
{% endif %}